src/main/mule/sap-tid-example.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">

    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="customer-api-sap-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
   
    <sap:outbound-config name="SAP_Outbound" doc:name="SAP Outbound" doc:id="22c788d4-f5d4-47ed-bcde-0fbd402abeb6" >
		<sap:simple-connection-provider-connection applicationServerHost="${sap.jcoAsHost}" username="${sap.jcoUser}" password="${sap.jcoPasswd}" systemNumber="${sap.jcoSysnr}" client="${sap.jcoClient}" language="${sap.jcoLang}" />
	</sap:outbound-config>
		
	<configuration-properties doc:name="Configuration properties" doc:id="7a97d3f4-824c-40f1-b41f-f673f499caa2" file="mule-app.properties" />
	<flow name="check-tid-flow" doc:id="15d06450-1abf-4134-a8a5-ea45b7fe836f" >
		<http:listener doc:name="/check" doc:id="05983f07-dc84-4425-a477-6f8c4bca73fd" config-ref="customer-api-sap-httpListenerConfig" path="/check"/>
		<ee:transform doc:name="Transform Message" doc:id="4fe7107b-caaa-4b94-9778-e6353647e86d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	INBOUND_IDOCS_FOR_TID: {
		"import": {
			TID: attributes.queryParams.tid
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:execute-synchronous-remote-function-call doc:name="Execute BAPI / Function over sRFC" doc:id="a4ea7736-7c13-49c0-be3c-585908d263f7" config-ref="SAP_Outbound" key='#["INBOUND_IDOCS_FOR_TID"]' target="data"/>
		<ee:transform doc:name="Transform Message" doc:id="5292a74d-55f9-4367-92d7-4ec1cc0a6a58">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	payload: payload,
	data: vars.data
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="send-idoc-flow" doc:id="7d23eb11-96d0-4e6a-a0df-cb2cb6e11ee6" >
		<http:listener doc:name="/send" doc:id="b752c841-7f56-4d88-87b9-98b25f7fbb6b" config-ref="customer-api-sap-httpListenerConfig" path="/send" />
		<sap:create-transaction-id  doc:name="Create transaction id" doc:id="1c88043c-ce39-45dd-9cd3-845041545f7d" config-ref="SAP_Outbound" target="tid"/>
		<ee:transform doc:name="Transform Message" doc:id="03ace71a-1bcc-4116-beb5-3f9bc2e19f6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	DEBMAS03: {
		IDOC: {
			EDI_DC40: {
				TABNAM: "EDI_DC40",
				"IDOCTYP": "DEBMAS03",
				"MESTYP": "DEBMAS",
				SNDPRT: "LS",
				SNDPRN: "APOCLNT810",
				RCVPOR: "A000000061",
				RCVPRT: "LS",
				RCVPRN: "APOCLNT810"
			},
			"E1KNA1M" @(SEGMENT: "1"): {
				"KUNNR": "",
				"KTOKD": "0001",
				"NAME1": "MULE10",
				"STRAS": "123 Main St",
				"ORT01": "Chicago",
				"PSTLZ": "60657",
				"LAND1": "US",
				"SPRAS": "E",
				"LZONE": "0000000001"
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:send doc:name="Send IDoc" doc:id="83060e86-5056-4565-88ee-2068b8ee1fa0" config-ref="SAP_Outbound" transactionId="#[vars.tid]" key='#["DEBMAS03"]'/>
		<ee:transform doc:name="Transform Message" doc:id="f7cf2bf2-7a96-4782-adc7-f5a2e20b9c35" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	tid: vars.tid,
	data: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
